@using MiddleEarthTravel.Models;
@model Member

@{
    ViewBag.Title = "Log In - Rangers of the North";
}

<div>

    @using (Html.BeginForm("Login", "Home"))
    {
        @Html.ValidationMessage("login-error")
        <div>
            @Html.LabelFor(m => m.DisplayName)
            @Html.EditorFor(m => m.DisplayName)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <button type="submit">login</button>
    }

</div>
