@using RangersOfTheNorth.Models;
@model Member
@{
    ViewBag.Title = "Register - Rangers Of The North";
}

<div>

    @using (Html.BeginForm("Register", "Home"))
    {
        @Html.ValidationMessage("invalid-credentials");
        <div>
            @Html.LabelFor(m => m.MemberName)
            @Html.EditorFor(m => m.MemberName)
            @Html.ValidationMessageFor(m => m.MemberName)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.About)
        </div>
        <div>
            @Html.LabelFor(m => m.About)
            @Html.EditorFor(m => m.About)
            @Html.ValidationMessageFor(m => m.About)
        </div>

        <button type="submit">Register</button>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

    }

</div>

