@using MiddleEarthTravel.Models
@model Member
@{
    ViewBag.Title = "OwnInfo";
}

<h2>Change your user info</h2>

@using (Html.BeginForm("ChangeName", "Member", FormMethod.Post))
{
    <div>
        @Html.ValidationMessage("changename-error")
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.DisplayName)
        @Html.TextBoxFor(m => m.DisplayName)
    </div>

    <button type="submit">change name</button>
}

@using (Html.BeginForm("ChangePassword", "Member", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <button type="submit">change password</button>
}

@using (Html.BeginForm("ChangeAboutText", "Member", new { memberID = Model.ID }, FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.About)
        @Html.TextAreaFor(m => m.About)
    </div>

    <button type="submit">change description</button>
}

@using (Html.BeginForm("AdminRequest", "Member", new { memberID = Model.ID }, FormMethod.Post))
{
    <button type="submit">request to be an admin</button>
}




